<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Time Messages</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header></header>
    <main role="main">
        <img src=~/logo.png alt="one-time-messages" class="otm-logo" />
        @RenderBody()
    </main>
    <footer></footer>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/aes.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>